.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.forgot-password-logo {
  margin-top: 50px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
}

.forgot-password-container>h1 {
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.confirm-message {
  text-align: center;
  color: green;
  margin-bottom: 20px;
}

.error-message {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

.forgot-password-container>form>h5 {
  margin-bottom: 5px;
}

.forgot-password-container>form>input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.forgot-password-button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.login-link {
  text-align: center;
}

.redirect-to-login {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  text-decoration: none;
  color: black
}

.redirect-to-signup {
  margin-top: 15px;
  font-size: 12px;
}

.signup-redirect {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  text-decoration: none;
  color: black
}